.ui.upload_finding.input input[type=file] {
  display: none;
}

.text-size {
  font-size: large;
  color: grey;
}

.ui.dropdown {
  border-top: 0 !important;
  border-left: 0 !important;
  border-right: 0 !important;
  padding-left: 0 !important;
}

input {
  border-top: 0 !important;
  border-left: 0 !important;
  border-right: 0 !important;
}

.logoWelcome {
  width: 300px;
  margin: auto;
  display: flex;
}

